{# HTML5 declaration #}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap" rel="stylesheet">

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {#        {{ form.media.css }}#}
    {% load static %}


    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canterbury Trails</title>
    <meta name="author" content="FatherChill">
</head>
<body class="bg-light">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">
    <div class="container mt-0 p-0">
        <a class="navbar-brand display-1" href={% url 'courses:index' %}><h3 class="mb-0">Canterbury Trails</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">About</a>#}
{#                </li>#}
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href={% url 'courses:create' %}>Share Course</a>
                    {% else %}
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="nav-link">Share Course</a>
                    {% endif %}

                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><u><i>{{ user.username }}</i></u></a>
                    <div class="dropdown-menu dropdown-menu-right">
{#                    <a class="dropdown-item" href="{% url 'profiles:detail' slug=user.username %}">My Profile</a>#}
                    <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
                    </div>
                </li>

                {% else %}
                    <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login to contribute!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Consider joining our community, submitting your own courses, and helping others find the best
                        ones.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="{% url 'login'  %}?next={{request.path}}" role="button">Login</a>
                    </div>
                </div>
            </div>
        </div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion!</h5>
            </div>
            <div class="modal-body">
                Are you sure? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- Page Content -->

{% block content %}
    if you see this something is terribly wrong
{% endblock content %}


<script>

    {% block extra_js %}
    {% endblock %}
</script>
</body>
</html>
