body {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, nav, .h-font{
    font-family: 'Fjalla One', sans-serif; !important;
}

.author-card-header{
    font-size: 1.2rem;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}



.container {
    margin-top: 10px;
}

@media print, screen and (min-width: 769px) {
    .sidebar {
        width: 270px
    }
}

@media screen and (min-width: 1040px) {
    .sidebar {
        width: 324px
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1150px !important;

    }

}

.slider.slider-horizontal {
    width: 100%;
    max-width: 500px;
}

.slider-tick {
    width: 4px;
    margin-left: -2px !important;
}

#audience_titles {
    display: inline-block;
    margin-left: 10px;
    font-size: .75rem;
    font-weight: bold;
}

.audience_titles {
    font-size: .75rem;
    font-weight: bold;
}

.select2-container {
    display: inline;
}

img.avatar {
    border: 1px solid #eee;
}

.vote-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5rem;
    height: 4.5rem;
    justify-content: center;
    font-size: 16px;
    padding: 10px 14px 14px;
    background: #f9f9f9;
    color: #616161;
    border: 1px solid #d9d9d9;
    border-radius: 3px;

}

.only-bottom-margin {
    margin-top: 0px;
}

.activity-mini {
    padding-right: 15px;
    float: left;
}

.upvote_count {
    margin-bottom: 0px;
}

.upvote_carat {
    width: 75%;
    display: block;
    margin: auto;
}
@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.1);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

.box__restart {
    font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
    color: #39bfd3;
}

.js .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
    color: #39bfd3;
}

.js .box__file:focus + label,
.js .box__file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.js .box__file + label * {
    /* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label {
    display: none;
}

.no-js .box__button {
    display: block;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
    background-color: #0f3c4b;
}


/*FOR DETAIL PAGE SNIPPET ----TRIMM*/
/*body{margin-top:20px;*/
/*background:#eee;*/
/*}*/
/* PROJECTS */
.project-people,
.project-actions {
    text-align: right;
    vertical-align: middle;
}

dd.project-people {
    text-align: left;
    margin-top: 5px;
}

.project-people img {
    width: 32px;
    height: 32px;
}

.project-title a {
    font-size: 14px;
    color: #676a6c;
    font-weight: 600;
}

.project-list table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 15px 10px;
    vertical-align: middle;
}

.project-manager .tag-list li a {
    font-size: 10px;
    background-color: white;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.project-files li a {
    font-size: 11px;
    color: #676a6c;
    margin-left: 10px;
    line-height: 22px;
}

/* PROFILE */
.profile-content {
    border-top: none !important;
}

.profile-stats {
    margin-right: 10px;
}

.profile-image {
    width: 120px;
    float: left;
}

.profile-image img {
    width: 96px;
    height: 96px;
}

.profile-info {
    margin-left: 120px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element {
    padding-bottom: 15px;
}

.feed-element,
.feed-element .media {
    margin-top: 15px;
}

.feed-element,
.media-body {
    overflow: hidden;
}

.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}

.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}

.feed-element .actions {
    margin-top: 10px;
}

.feed-element .photos {
    margin: 10px 0;
}

.feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.file-list li {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-bottom: 5px;
}

.file-list li a {
    color: inherit;
}

.file-list li a:hover {
    color: #1ab394;
}

.user-friends img {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

ul.notes li,
ul.tag-list li {
    list-style: none;
}

