{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-auto">
                                    {% if course.author.pic %}
                                    <img class="rounded-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto; width:200px; max-height: 200px" src={{ course.author.pic.url }}>
                                    {% endif %}
                                </div>

                                <div class="col-md">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md">
                                                    <h1 class="mb-0">{{ course.title }}</h1>
                                                </div>
                                                <div class="col-sm-auto">
                                                    <div class="d-inline align-middle">
                                                    <button class="btn btn-default"><div class="align-middle"><i class="material-icons medium">edit</i>&nbsp;Edit</div> </button>

                                                    <div class="float-right pl-3">
                                                        <i class="material-icons text-info">comment</i>&nbsp;500
                                                    </div>
                                                    <div class="float-right pl-3">
                                                        <i class="material-icons text-success">thumb_up</i>&nbsp;1500
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <h5 class="font-italic mb-0">{{ course.author.title }}</h5>
                                            <p>{{ user.profile.org_name }}, {{ course.author.city }}, {{ course.author.state }}</p>
                                        </div>
                                </div>
                                <div>
                                    {% for file in course.coursefile_set.all %}
                                        <a href="{{ file.file.url }}" alt="Download">Download {{ file.file }}</a>
                                        <div></div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}