{% extends 'base.html' %}
{% load bootstrap4 %}
{% load custom_tags %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="{% static "courses/script.js" %}"></script>
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col ">

                <div class="card bg-info text-white mt-5">
                    <div class="card-body">
                        <div class="row pl-3 pr-3">
                            <div class="col-md-4">
                                <div class="row">
                                    Canterbury Tales is a place for clergy and laity to share
                                    Anglican-flavored non-copyrighted lesson plans.
                                </div>
                                <div class="row mt-3 mb-3">
                                    <a class="btn btn-primary pl-4 pr-4" href="{% url 'login' %}" role="button">Join!</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6><b>How it works:</b></h6>
                                <div class="card-group">
                                    <div class="card bg-info border-info">
                                        <img src="{% static "courses/images/add.svg" %}" class="card-img-top" style="max-height: 50px"/>
                                        <div class="card-body">
                                            <p class="card-text small">We all share self-written lessons with the broader Anglican Church.</p>
                                        </div>
                                    </div>
                                    <div class="card bg-info border-info">
                                        <img src="{% static "courses/images/thumb_up.svg" %}" class="card-img-top" style="max-height: 50px"/>
                                        <div class="card-body">
                                            <p class="card-text small">Fellow teachers and clergy upvote the most useful courses.</p>
                                        </div>
                                    </div>
                                    <div class="card bg-info border-info">
                                        <img src="{% static "courses/images/trending_up.svg" %}" class="card-img-top" style="max-height: 50px"/>
                                        <div class="card-body">
                                            <p class="card-text small">The best lessons rise to the top.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row mt-5 justify-content-between">
            <div class="col-md-3 order-md-2 mb-4 " id="filter_column">
                <div class="accordion">
                    <form method="get" class="form">
                        {% csrf_token %}
                        <div class="card bg-white">
                            <div class="card-header" id="headingOne">
                                <h1 class="mb-0">
                                    <a class="btn btn-link" type="button" data-toggle="collapse"
                                       data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Filter Tags
                                    </a>
                                </h1>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {% bootstrap_field form.tags show_label=False %}
                                    {% bootstrap_field form.tags_exact %}
                                </div>
                            </div>
                        </div>
                        <div class="card bg-white">
                            <div class="card-header" id="headingtwo">
                                <h2 class="mb-0">
                                    <a class="btn btn-link" type="button" data-toggle="collapse"
                                       data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Filter Audience
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingtwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {% bootstrap_field form.audience_0 show_label=False %}
                                    {% bootstrap_field form.audience_1 show_label=False %}
                                    {% bootstrap_field form.audience_exact show_label=False %}
                                    <div id='audience_titles'><span id="audience_lower"></span> through <span
                                            id="audience_upper"></span></div>
                                    <div id='slider_container'>
                                        <div id='audience_filter'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 order-md-1">
                <div class="bg-white border rounded-top pt-2 px-4 text-center" style="border: 1px solid rgba(0,0,0,.125);">
                    <h1 class=" ">New and Popular Courses</h1>
                </div>
                {% if courses %}
                    {% include "courses/course_list.html" %}
                {% else %}
                    <p>No courses are available</p>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    var $audience = {% autoescape off %}{% audience_map %}{% endautoescape %};
    var $audience_special = {% autoescape off %}{% audience_special_map %}{% endautoescape %};
    var $ages = {% audience_breakpoints %}
    var $initial_values = [parseInt($("#id_audience_0").val()),parseInt($("#id_audience_1").val())];


    $(document).ready(function () {
    $("#id_audience_0, #id_audience_1").hide();
    $("#audience_titles").appendTo($("#id_audience_0").parent());
    $("#slider_container").appendTo($("#id_audience_0").parent());
    let $a_slider = createAudienceSlider($('#audience_filter'), $ages, initial = $initial_values, enabled = true);

    setElements($initial_values);

    $a_slider.on("slide", function (slideEvt) {
    setElements($('#audience_filter').val());
    });

    function setElements(value_array) {
    $("#audience_titles").text(getTitles(value_array, $audience_special, $audience));
    document.getElementById("id_audience_0").value = $('#audience_filter').val()[0];
    document.getElementById("id_audience_1").value = $('#audience_filter').val()[1];
    }

    $('#id_audience_0, #id_audience_1, #id_audience_exact, #id_tags, #id_tags_exact').change(function(){
    trigger_courses_call();
    });

    $a_slider.on("slideStop", function (slideEvt) {
    trigger_courses_call();
    });

    $(".audience_slider").each(function (index) {
    $(this).bootstrapSlider({
    range: true,
    min: 0,
    max: 65,
    lock_to_ticks: true,
    id: index,
    value: $(this).data('slider'),
    enabled: false,
    });
    });

    });

    function trigger_courses_call(){
    var $response = get_courses($('#id_audience_0').val(), $('#id_audience_1').val(),
    $('#id_audience_exact').is(":checked") ? 1 : 0, $('#id_tags').val().join('&') || 'all',
    $('#id_tags_exact').is(":checked") ? 1 : 0);
    }

    // AJAX for posting
    function get_courses(a_low, a_high, a_match, tags, tags_match){

    $.ajax({
    url : "search/audience/" + a_low + '-' + a_high + '/' + a_match + '/tags/' + tags + '/' + tags_match,
    type : "GET", // http method
    dataType: "html", // data sent with the post request

    // handle a successful response
    success : function(json) {
    $('#courses').replaceWith(json); // remove the value from the input
    $(".audience_slider").each(function (index) {
    $(this).bootstrapSlider({
    range: true,
    min: 0,
    max: 65,
    lock_to_ticks: true,
    id: index,
    value: $(this).data('slider'),
    enabled: false,
    });
    });

    },

    // handle a non-successful response
    error : function(xhr,errmsg,err) {
    $('#courses').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
    }
{% endblock %}


