{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="{% static "courses/script.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <div id="DIV_694">
                    <div id="DIV_695">
                        <div id="DIV_696">
                            <div id="DIV_697">
                                <div id="DIV_698">
                                    <div id="DIV_699">
                                        <h3 id="H3_700">
                                            filter courses
                                        </h3>
                                    </div>
                                </div>
                                <div id="DIV_701">
                                        <div id="DIV_703">
                                            <h3 id="H3_704">
                                                Coming Soon!
                                            </h3>

                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-md-8 order-md-1">
                <div class="row bg-white border rounded-top" style="border: 1px solid rgba(0,0,0,.125);">
                    <div class="level-item">
                        <div class="">
                            <h1 class="title">New and Popular Courses</h1>
                        </div>
                    </div>
                </div>
                {% if courses %}
                    <div class="">

                        {% for course in courses %}
                            <div class="row bg-white py-3 px-3" style="border: 1px solid rgba(0,0,0,.125);">
                                <div class="col-sm-auto">
                                    <div>
                                        <a href="{%  url 'courses:upvote' course.id %}" class="vote-btn ">
                                            <div class="d-inline align-middle"><img src="{% static "courses/caret-up.svg" %}" alt="Upvote" class='upvote_carat'></i>
                                            </div>
                                            <h5 class="upvote_count mt-0">{{ course.upvotes.count }}</h5>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-auto mr-auto pl-0">
                                            <a href="{% url 'courses:detail' course.id %}"><h5 class="">{{ course.title }}</h5></a>
                                            <h6>
                                            {% for tag in course.tags.all %}
                                                <span class="badge badge-secondary">{{ tag.title }}</span>
                                            {% endfor %}
                                            </h6>

                                        </div>
                                        <div class="col-4">
{#                                        </div>#}
                                            {#                                        <div class="col-4">#}
                                            <div id='slider_container'>
                                                <div class='audience_slider' data-slider="[{{ course.audience.lower }}, {{ course.audience.upper }}]"></div>
                                            </div>
                                            <div class='audience_titles text-center'>{{ course.audience_description }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="small text-muted">Submitted by {{ course.author }} | {{ course.posted_humanized }} | {{ course.views_humanized }} views</p>
{#                                        <p class="card-text">{{ course.description|truncatechars:90 }}</p>#}

                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                {% else %}
                    <p>No courses are available</p>
                {% endif %}



        </div>

    </div>
    <!-- flex-container -->

    </div>
    </div>
    </div>
    </div>
    <div class="container">

{% endblock %}

{% block extra_js %}
    var $audience = {% autoescape off %}{% audience_map %}{% endautoescape %};
    var $audience_special = {% autoescape off %}{% audience_special_map %}{% endautoescape %};
    var $ages = {% audience_breakpoints %}

    $( document ).ready(function() {

        $( ".audience_slider" ).each(function( index ) {
            $(this).bootstrapSlider({
            range: true,
            min: 0,
            max: 65,
            lock_to_ticks: true,
            id: index,
            value: $(this).data('slider'),
            enabled: false,
        });
    });


    });


{% endblock %}