<!-- templates/profile/signup.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{{ form.media.css }}


{% block content %}
<div class="container">
<h2>Signup</h2>
<form method="post">
  {% csrf_token %}
    {% bootstrap_form_errors user_form layout='inline' %}
        {% bootstrap_form_errors profile_form layout='inline' %}

  {% bootstrap_form user_form layout='inline'%}
  {% bootstrap_form profile_form  layout='inline'%}

        <button type="submit" class="btn btn-primary">
Sign up</button>
</form>
</div>

{% endblock %}